<div class="card w-100 bg-dark text-light m-3">
    <div class="card-body">
        <h5 class="card-title p-2">Create a post!</h5>
        <input type="text" class="form-control p-2">
        <div class="d-flex justify-content-center">
            <button class="btn btn-success w-50 m-3 p-2">Submit</button>
        </div>
    </div>
</div>