<div class="card w-100 bg-dark text-light m-3">
        <div class="card-body text-center">
            <form action="/dashboard" id="editpost">
                <textarea class="form-control m-2" rows="1" id="title">{{this.title}}</textarea>
                <textarea class="form-control m-2" rows="3" id="postcontent">{{this.postcontent}}</textarea>
                <button class="btn btn-success align-self-center">Save</button>
            </form>
        </div>
</div>