<div class="card w-100 bg-dark text-light m-3">
        <div class="card-body text-center">
            <textarea class="form-control m-2" rows="1">Card title</textarea>
            <textarea class="form-control m-2" rows="3">Card text Card text Card text Card text Card text Card text Card text Card text Card text Card text Card text Card text</textarea>
            <button class="btn btn-success align-self-center">Save</button>
        </div>
</div>